@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the font-face for Agustina Regular */
@font-face {
  font-family: 'Agustina Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Agustina Regular'), url('/fonts/Agustina.woff') format('woff');
}

html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

:root {
  --background: #ffffff !important;
  --foreground: #171717 !important;
}

:root.dark{
  --background: #0a0a0a !important;
  --foreground: #ededed !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-ubuntu), sans-serif;
}